<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Notificaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h3 text-center>Hola</h3>
  </div>
</ion-content>
